[Unit]
Description=Web UI and hardware controls for XPlane
Requires=network.target

[Service]
Type=exec
User=jaittola
WorkingDirectory=/home/jaittola/xplane-location-web/rust-server
ExecStartPre=/bin/sleep 10
ExecStart=/home/jaittola/xplane-location-web/rust-server/xplw -g hw-inputs.json -w ../www
Restart=on-failure

[Install]
WantedBy=multi-user.target
