
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mapview {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.the-map {
    height: 100%;
    flex-grow: 2;
}

.data-panel {
    flex-grow: 0;
    margin: 8px;
    padding: 10px;
    width: 230px;
    background-color: white;
}

.data-item {
    display: inline-block;
    min-width: 70px;
}

.top-margin {
    margin-top: 6px;
}

button {
    font-family: times, serif;
    font-size: 16px;
}
