
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mapview {
    display: flex;
    height: 100%;
}

.fixed-width {
    margin: 8px;
    width: 230px;
    flex: 0 0 230px;
}

.variable-width {
    height: 100%;
    width: 100%;
}

.data-hdg {
    display: inline-block;
    min-width: 70px;
}

.top-margin {
    margin-top: 6px;
}

button {
    font-family: times,serif;
    font-size: 16px;
}
